__pycache__/
*.log
venv/
*.iml
.idea/
*.pyc
*.egg-info/
config_my.yml
dist/
.coverage
htmlcov/*
.eggs
.emacs*
*.key
*.crt
*.csr
*.pem
.installed
.pytest_cache
coverage.xml
test-report.xml
htmlcov
pylint-report.txt
sonar-project.properties
.vscode
.DS_Store
RELEASE-VERSION